<div class="row">
    <div class="col-md-4">
        <!-- Product image along with name and price are displayed when clicked on the image or product title -->
        <img src=" {{product.image}} ">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h3>{{product.name}}</h3>
        <h1> € {{product.price}}</h1>
    </div>
</div>